/*global*/
body {
	margin: 0;
	padding: 0;
	min-height: 100%;
	font-weight: 900;
	font-family: 'Chivo', sans-serif;
}

body:after {
	top: 0;
	width: 100%;
	height: 100%;
	content: '';
	z-index: -1;
	position: fixed;
	background-color: rgba(0,0,0,0);
	-webkit-transition: background-color 0.5s;
	-moz-transition: background-color 0.5s;
	transition: background-color 0.5s;
}

body.overlay:after {
	background-color: rgba(0,0,0,0.8);
	z-index: 0;
}

#wrapper {
	min-height: 100%;
}

.board {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -153px;
	margin-left: -153px;
	max-width: 306px;
	padding: 0;
}

.clear:after {
	clear: both;
	content: '';
	display: table;
}

* {
	outline: none;
	letter-spacing: 1.25px;
}

button {
	border: 0px;
	text-align: center;
	cursor: pointer;
	background-color: transparent;
}

/*board*/

.board li {
	float: left;
	width: 100px;
	height: 100px;
	list-style: none;
	line-height: 100px;
	border: 2px solid #dbdbdb;
	border-left: 0px;
	border-top: 0px;
	text-transform: uppercase;
	text-align: center;
	font-size: 52px;
	cursor: pointer;
	color: black;
	opacity: .6;
	-webkit-transition: color 0.3s, opacity 0.3s;
	-moz-transition: color 0.3s, opacity 0.3s;
	transition: color 0.3s, opacity 0.3s;
}

.board li:nth-child(3n) {
	border-right: 0px;
}

.board li:nth-child(n+7) {
	border-bottom: 0px;
}

.board li.winner {
	color: #58AC5C;
	opacity: 1;
}

/*modal*/

#comp:after, #user:after {
	font-size: 52px;
	font-family: 'FontAwesome';
	color: rgba(184, 207, 235, 1);
	-webkit-transition: color 0.5s;
	-moz-transition: color 0.5s;
	transition: color 0.5s;
}

#comp:hover:after, #user:hover:after {
	color: rgba(33, 122, 214, 1);
}

#comp:after {
	content: '\f108';
}

#user:after {
	content: '\f007';
}

.modal {
	opacity: 0;
}

body.overlay .modal {
	position: absolute;
	height: 250px;
	width: 250px;
	opacity: 1;
	z-index: 1;
	left: 50%;
	top: 50%;
	margin-top: -125px;
	margin-left: -125px;
	background-color: white;
	-webkit-transition: opacity 0.5s;
	-moz-transition: opacity 0.5s;
	transition: opacity 0.5s;
}

.modal > div {
	position: relative;
	margin-top: -45px;
	top: 50%;
}

.modal p {
	font-weight: 400;
	position: absolute;
	text-align: center;
	width: 100%;
	top: 20px;
}

.modal button {
	margin: 0 auto;
	display: block;
	font-weight: 400;
	margin: 20px auto;
	text-transform: uppercase;
	font-family: 'Chivo', sans-serif;
}

#comp {
	margin-top: 0px;
}